# Build the rock
name: Build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Get name
        id: name
        run: echo "name=$(yq '.name' rockcraft.yaml)" >> "$GITHUB_OUTPUT"

      - uses: canonical/craft-actions/rockcraft-pack@main
        id: rockcraft

      - name: Install Syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Create SBOM
        run: syft ${{ steps.rockcraft.outputs.rock }} -o spdx-json=${{ steps.name.outputs.name }}.sbom.json

      - name: Upload SBOM
        uses: actions/upload-artifact@89ef406dd8d7e03cfd12d9e0a4a378f454709029 # v4
        with:
          name: ${{ steps.name.outputs.name }}-sbom
          path: "${{ steps.name.outputs.name }}.sbom.json"

      - uses: actions/upload-artifact@89ef406dd8d7e03cfd12d9e0a4a378f454709029 # v4
        with:
          name: rock
          path: ${{ steps.rockcraft.outputs.rock }}
