name: CI

on:
  push:
    branches:
     - "main"
    paths:
      - "rockcraft.yaml"
      - ".github/workflows/**.yaml"
  pull_request:
    branches:
     - "*"
  workflow_dispatch:

jobs:
  build:
    uses: canonical/identity-team/.github/workflows/_rock-build.yaml@7ec3565943646a4abe70497e354edac4357349a8 # v1.9.3
    with:
      structure-tests-enabled: true
  gh-publish:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    uses: canonical/identity-team/.github/workflows/_rock-gh-publish-third-party.yaml@7ec3565943646a4abe70497e354edac4357349a8 # v1.9.3
    with:
      rock: ${{ needs.build.outputs.rock }}
  oci-publish:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    uses: canonical/identity-team/.github/workflows/_rock-oci-publish.yaml@7ec3565943646a4abe70497e354edac4357349a8 # v1.9.3
    with:
      edge-release: false
      eol-stable-release: "3 month"
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
  scan:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: gh-publish
    uses: canonical/identity-team/.github/workflows/_rock-scan.yaml@7ec3565943646a4abe70497e354edac4357349a8 # v1.9.3
    with:
      image: ${{ needs.gh-publish.outputs.image }}
