name: CI

on:
  push:
    branches:
     - "main"
    paths:
      - "rockcraft.yaml"
      - ".github/workflows/**.yaml"
  pull_request:
    branches:
     - "*"
  workflow_dispatch:

jobs:
  build:
    uses: canonical/identity-team/.github/workflows/_rock-build.yaml@7ca109a149fd39d889d1f66f5d2727aafefc6915 # v1.9.1
    with:
      structure-tests-enabled: true
  gh-publish:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    uses: canonical/identity-team/.github/workflows/_rock-gh-publish.yaml@7ca109a149fd39d889d1f66f5d2727aafefc6915 # v1.9.1
    with:
      rock: ${{ needs.build.outputs.rock }}
  oci-publish:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: build
    uses: canonical/identity-team/.github/workflows/_rock-oci-publish.yaml@7ca109a149fd39d889d1f66f5d2727aafefc6915 # v1.9.1
    with:
      edge-release: false
      eol-stable-release: "3 month"
    secrets:
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
  scan:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: gh-publish
    uses: canonical/identity-team/.github/workflows/_rock-scan.yaml@7ca109a149fd39d889d1f66f5d2727aafefc6915 # v1.9.1
    with:
      image: ${{ needs.gh-publish.outputs.image }}
